body {
    padding: 0 15px 0 15px;
    margin: 0;
    background-color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin-left: 10%;
    overflow: hidden;
    padding: 15px;
}

header {
    height: 77px;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header h1 {
    width: 79.5%;
    float: right;
    margin: 0;
    text-align: center;
    font-size: 24px;
    padding: 25px 0 25px 0;
    background-color: #333333;
    color: #ffffff;
    outline: 5px #ffd700 solid;
    outline-offset: -10px;
}

header nav {
    width: 20%;
    float: left;
    position: absolute;
}

header nav button {
    width: 100%;
    float: left;
    border: none;
    font-size: 24px;
    padding: 25px 0 25px 0;
    background-color: #333333;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 0 25px 0;
}

header nav button:hover {
    background-color: #555555;
}

header nav ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}

header nav ul li {
    width: 100%;
    margin: 0;
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin: 0;
    padding: 25px 0 25px 0;
    text-align: center;
    font-size: 24px;
    background-color: #333333;
}

header nav ul li a:hover:not(.active) {
    background-color: #444444;
    border-right: #ffd700 5px solid;
    border-left: #ffd700 5px solid;
    transition-duration: .3s;
}

header nav ul li .active {
    background-color: #5d5d5d;
    color: #ffffff;
    border-bottom: #e4c200 5px solid;
    border-top: #e4c200 5px solid;
}

article {
    background-color: #eeeeee;
    width: 80%;
    margin: 45px 0 45px 10%;
    padding: 15px;
    border-radius: 25px;
}

article h1 {
    padding: 15px 0 15px 0;
    margin: 0;
    font-size: 38px;
}

article p {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
}

article img {
    float: left;
    width: 35%;
    margin: 0 15px 0 0;
    border-radius: 25px;
}

#hidden {
    display: none;
}

 #passwordBox .container #passwordContainer {
    width: 100%;
    margin-bottom: 15px;
}

 #passwordBox .container #passwordContainer #pw {
    width: 45%;
    border: none;
    line-height: 1.5;
    font-size: 24px;
    padding: 10px 0 10px 0;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
}

 #passwordBox .container #passwordContainer button {
    float: right;
}

 #passwordBox button {
    width: 45%;
    margin: 0;
    padding: 10px 0 10px 0;
    border: none;
    font-size: 24px;
    background-color: #333333;
    color: white;
    cursor: pointer;
    margin: 0;
}

#passwordBox button:hover {
    background-color: #555555;
    transition-duration: .3s;
}

footer {
    bottom: 0;
    right: 0;
    width: 250px;
    font-size: 12px;
    position: fixed;
    background-color: #333333;
    border-top: solid 5px #ffd700;
    border-left: solid 5px #ffd700;
    color: #ffffff;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    body {
        padding: 0;
        margin: 0;
    }

    header {
        height: 154px;
    }

    header h1 {
        width: 100%;
        float: none;
    }

    header nav {
        width: 100%;
        float: none;
    }

    header button {
        margin: 0 0 25px 0;
        width: 100%;
    }

    #passwordBox.container #passwordContainer #pw, #passwordBoxbutton {
        width: 50%;
    }
}

@media screen and (max-width: 750px) {
    body {
        padding: 0;
        margin: 0;
    }

    header {
        height: 175px;
    }

    header h1 {
        width: 100%;
        float: none;
        outline: none;
    }

    header nav {
        width: 100%;
        float: none;
    }

    header nav button {
        margin: 0 0 25px 0;
    }

    .container {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    article {
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0;
    }

    article h1 {
        margin: 0;
        padding: 15px;
    }

    article p {
        padding: 15px;
    }

    article img {
        display: none;
    }

    #passwordBoxh1 {
        font-size: 18px;
        text-align: center;
    }

    #passwordBox #passwordContainer {
        width: 100%;
    }

    #passwordBox .container #passwordContainer #pw {
        width: 100%;
        font-size: 18px;
    }

    #passwordBox button {
        width: 100%;
        font-size: 18px;
        float: none;
    }

    footer {
        display: none;
    }
}